body{
    background: #70c2d3;
    font: normal 15pt Arial ;
    text-align: center;
}
section{
    background: white;
    border-radius: 10%;
    padding: 20px;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
}
footer{
    font-style: italic;
    font-size: .8em;
}
.saudacao{
    font-style: italic;
}
.saudacao, .mensagem{
    padding: 10px;
}
.imagem{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.txt{
    color: black;
}
a.txt:hover{
    text-decoration: none;
    font-weight: bold;
}
.mensagem{
    margin-bottom: 10px;
}
.filter{
    filter: invert(100%);
}